@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounce-out-bck {
    0% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }
    5% {
        transform: translateZ(-100px);
        animation-timing-function: ease-in;
    }
    15% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }
    25% {
        transform: translateZ(-110px);
        animation-timing-function: ease-in;
    }
    38% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }
    52% {
        transform: translateZ(-200px);
        animation-timing-function: ease-in;
    }
    70% {
        transform: translateZ(0) scale(1);
        animation-timing-function: ease-out;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateZ(-900px) scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(600px) rotateX(30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% -1400px;
        opacity: 1;
    }
}

@keyframes slide-out-blurred {
    0% {
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes swing-in-right-fwd {
    0% {
        transform: rotateY(-100deg);
        transform-origin: right;
        opacity: 0;
    }
    100% {
        transform: rotateY(0);
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes swing-in-left-bck {
    0% {
        transform: rotateY(-70deg);
        transform-origin: left;
        opacity: 0;
    }
    100% {
        transform: rotateY(0);
        transform-origin: left;
        opacity: 1;
    }
}

.slide-enter-active {
    animation: slide-in .5s;
}

.leave-slide {
    animation: slide-out-blurred 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both reverse;
}

.slide-leave-active {
    animation: slide-out-blurred 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both reverse;
}

.slide-right-enter-active {
    animation: swing-in-right-fwd .5s;
}

.slide-right-leave-active {
    animation: swing-in-left-bck .3s reverse;
}