@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Black.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: roboto;
}

input {
    outline: none;
}

.show-menu-btn {
    padding: 1rem 1rem 1rem 0;
}

.bar1,
.bar2,
.bar3 {
    background-color: black;
    position: relative;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: all 0.33s;
    z-index: 3;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width:640px) {
    .show-menu-btn {
        margin: 2rem 1rem;
        padding: 0;
    }
}