@import './apps/book-main/cmps/dumby-file.css';
@import './apps/book-main/pages/dumby-file.css';
@import './apps/keep-main/cmps/dumby-file.css';
@import './apps/keep-main/pages/dumby-file.css';
@import './apps/mail-main/cmps/dumby-file.css';
@import './apps/mail-main/pages/dumby-file.css';
@import './apps/main-cmps/dumby-file.css';
@import './apps/main-cmps/app-header.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    transform: translateX(250px);
}

.clean-list {
    list-style-type: none;
}

a {
    text-decoration: none;
}