.email-preview {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem;
    height: 5rem;
    font-size: 0.85rem;
    color: rgb(100, 100, 100);
    font-family: roboto, Arial, Helvetica, sans-serif;
    transition: box-shadow .3s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.email-preview.email-read {
    background-color: rgb(225, 241, 251);
    font-weight: bold;
}

.email-preview .btn {
    font-size: 1.25rem;
    padding: 0.55rem;
    border-radius: 50%;
    color: rgb(51, 51, 51);
    transition: background-color .3s;
}

.preview-btns {
    position: absolute;
    right: 0;
    z-index: 5;
}

.email-preview:hover .preview-btns {
    background-color: inherit;
    display: flex;
}

.email-preview .btn:hover {
    background-color: rgb(211, 236, 251);
}

.marked {
    color: rgb(207, 173, 87);
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 2;
}

.email-preview-composer-name,
.email-preview-subject,
.email-preview-body {
    padding-inline-start: 1rem;
}

.email-preview-composer-name {
    width: 25%;
    text-overflow: ellipsis;
}

.email-preview-subject {
    width: 30%;
    text-overflow: ellipsis;
}

.email-preview-body {
    width: 30%;
}

.email-preview-time {
    flex: 1;
    padding: 0.5rem;
    text-align: end;
}

@media (min-width:1080px) {
    .email-preview-composer-name {
        width: 15%;
    }
    .email-preview-subject {
        width: 25%;
    }
    .email-preview-body {
        display: block;
        width: 40%;
    }
}