.email-nav {
    font-size: 1.25rem;
    min-width: 300px;
}

.new-email-open-btn {
    border-radius: 3rem;
    border: 1px outset #1C6EA4;
    margin: 2rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    transition: box-shadow .3s;
}

.new-email-open-btn:hover {
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 4px 5px rgba(0, 0, 0, 0);
}

.email-nav li {
    text-align: center;
    padding: 1rem;
    border-radius: 0 2rem 2rem 0;
}

.email-nav li:hover {
    background-color: #1C6EA410;
}

.email-nav li.focused {
    background-color: #c86b6b2d;
}