.email-composer {
    position: fixed;
    height: 480px;
    width: 90%;
    right: 1rem;
    bottom: 0;
    z-index: 200;
    transition: all .33s;
}

.composer-head {
    padding: 1rem;
    background-color: #404040;
    border-radius: 1rem 1rem 0 0;
    color: rgb(241, 241, 241);
}

.minimize-toggle-btn,
.maximize-toggle-btn,
.composer-close-btn {
    color: rgb(241, 241, 241);
}

.email-composer.minimized {
    height: 50px;
    width: 15rem;
}

.composer-close-btn {
    font-size: 1.15rem;
}

@media (min-width:500px) {
    .email-composer {
        max-width: 450px;
    }
}