.email-composer {
    position: fixed;
    height: 480px;
    width: 90%;
    right: 1rem;
    bottom: 0;
    z-index: 200;
    transition: all .33s;
}

.composer-head {
    padding: 1rem;
    background-color: #404040;
    border-radius: 1rem 1rem 0 0;
    color: rgb(241, 241, 241);
}

.minimize-toggle-btn,
.maximize-toggle-btn,
.composer-close-btn {
    color: rgb(241, 241, 241);
}

.email-composer.minimized {
    height: 50px;
    width: 16rem;
}

.composer-close-btn {
    font-size: 1.15rem;
}

.email-composer.maximized .composer-head {
    border-radius: 0%;
}

.email-composer.maximized {
    right: 0;
    height: 100%;
    width: 100%;
}

@media (min-width:500px) {
    .email-composer {
        max-width: 450px;
    }
    .minimize-toggle-btn:hover,
    .maximize-toggle-btn:hover,
    .composer-close-btn:hover {
        background-color: #00000040;
    }
    .email-composer.maximized {
        left: 20rem;
        bottom: 2rem;
        height: 85%;
        max-width: 60% !important;
    }
}