.email-nav {
    background-color: white;
    font-size: 1.25rem;
    flex: 1;
}

.email-nav-list {
    flex: 1;
}

.new-email-open-btn {
    /* background-image: url(../../../../assets/email/img/icon/create_32dp.png); */
    position: fixed;
    display: flex;
    background-color: white;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    border: 1px outset #1C6EA4;
    padding: 0.75rem;
    font-weight: bold;
    font-size: 2rem;
    z-index: 10;
}

.email-nav ul {
    margin: 0;
}

.email-nav li {
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
}

.email-nav li.focused {
    background-color: #c86b6b2d;
}


/* .email-nav li:hover {
    background-color: #1C6EA410;
} */