.email-preview {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1px;
    transition: box-shadow .3s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 2;
}

.email-preview.email-read {
    background-color: rgb(225, 241, 251);
    font-weight: bold;
}

.email-preview .btn {
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    transition: background-color .3s;
}

.email-preview .btn:hover {
    background-color: rgb(211, 236, 251);
}

.marked {
    color: rgb(207, 173, 87);
}