.email-composer {
    position: fixed;
    height: 480px;
    width: 450px;
    right: 3rem;
    bottom: 0;
}

.composer-head {
    padding: 1rem;
    background-color: #404040;
    border-radius: 1rem 1rem 0 0;
    color: white;
}

.minimize-toggle-btn,
.maximize-toggle-btn,
.composer-close-btn {
    color: white;
}