@media (min-width:705px) {
    .filter-bar {
        background-color: rgb(233, 233, 233);
        cursor: pointer;
        display: flex;
        margin: 1rem;
        padding: 0 0.8rem;
        align-self: center;
        text-align: center;
        border-radius: 0.25rem;
        box-shadow: 1px 0.5px 3px 0.5px rgba(0, 0, 0, 0.35);
        font-family: roboto, Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        color: rgba(135, 135, 135, 0.8);
        transition: all .33s;
    }
    .filter-bar:hover {
        background-color: rgb(250, 250, 250);
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.45);
    }
    .filter-bar label {
        cursor: pointer;
        padding: 1rem;
        width: 5rem;
        border-radius: 0 0 2rem 2rem;
        transition: all .33s;
    }
    .filter-bar label:hover {
        background-color: rgba(233, 233, 233, 0.753);
        color: rgb(65, 65, 65);
    }
}