.about-container {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: cursive, sans-serif;
}

.about-main-content {
    flex: 1;
    display: flex;
}

.about-main-content .card {
    background: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    width: 450px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 1rem;
}

.card .info p {
    font-size: 1.1rem;
    font-family: reg-roboto, sans-serif;
    text-align: center;
    line-height: 1.5;
}

.card .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    background: #222;
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
    transition: transform .3s;
}

.card .contact:hover {
    transform: rotateZ(2deg);
}

.about-logo {
    width: 320px;
    height: 320px;
}

.about-footer {
    width: 100%;
    background: #222;
    color: white;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: rubik, sans-serif;
}

.contact a {
    text-decoration: none;
    color: white;
}

@media (max-width: 700px) {
    .about-main-content {
        flex-direction: column;
        max-width: 450px;
    }
    .about-logo {
        width: 260px;
        height: 260px;
    }
    .about-main-content .card {
        margin: 1rem auto;
        background-color: unset;
    }
    .card .info {
        text-align: center;
    }
    .contact {
        width: 40px;
        font-size: 18px;
    }
    .app-footer {
        margin-block-start: 20px;
    }
    .app-footer small {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .about-main-content .card {
        margin: 1rem auto;
        background-color: unset;
        width: unset;
        max-width: 400px;
    }
    .card .info p {
        font-size: 1rem;
    }
}