body.show-nav {
    transform: translateX(250px);
    overflow: hidden;
}

body {
    transition: transform .3s ease;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
    background-color: #373A40;
    color: white;
    z-index: 100;
    text-align: center;
    transform: translateX(-100%);
}

.appsus-logo {
    width: 165px;
    height: 165px;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.app-header .main-nav {
    height: 100%;
}

.app-header .main-nav a {
    padding: 2rem;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgba(200, 200, 200, 0.4);
    transition: .3s ease;
    font-family: roboto, sans-serif;
}

.app-header .router-link-active {
    background: #686d76
}

.app-header .main-nav a {
    display: block;
    height: 100%;
    color: #eee;
}

.app-header .main-nav a:first-child {
    border-top: 2px solid rgba(200, 200, 200, 0.4);
}