/* body {
    background: url('../../../assets/app/img/pattern.png');
} */

.home-page {
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: rubik, sans-serif;
    position: relative;
}

.main-content {
    flex: 1;
    text-align: center;
}

.app-logo {
    width: 500px;
    height: 500px;
}

.app-title {
    font-size: 40px;
}

.app-desc {
    font-size: 18px;
    margin-block-end: 30px;
}

.app-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-btns li {
    outline: 0;
    border: 0;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    background: gray;
    color: #eee;
    border-radius: 3px;
    transition: transform .3s ease;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    cursor: pointer;
}

.app-btns li a {
    text-decoration: none;
    color: white;
}

.app-btns li:hover {
    transform: scale(1.1);
}


/* .fork-me {
    width: 207px;
    height: 42px;
    background: black;
    color: white;
    transform: rotate(45deg);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    border-radius: 11px;
    text-align: center;
    line-height: 41px;
    top: 66px;
} */

.app-footer {
    width: 100%;
    background: #222;
    color: white;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: rubik, sans-serif;
}

.footer-title {
    margin-block-end: 10px;
}

@media (max-width: 700px) {
    .app-logo {
        width: 320px;
        height: 320px;
    }
    .app-title {
        font-size: 1.875rem
    }
    .app-btns {
        flex-direction: column;
    }
    .app-btns li {
        width: 150px;
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}