/* body {
    background: url('../../../assets/app/img/pattern.png');
} */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    width: 800px;
    height: 250px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}