.edit-note {
    padding: 2rem;
}

.edit-note form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-note input {
    padding: 0.5rem 1rem;
    width: 100%;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform .3s ease;
    margin-block-end: 10px;
    margin-block-start: 10px;
    transition: transform .3s ease;
    font-size: 14px;
    font-family: cursive, sans-serif;
}

.edit-note button {
    background: #fafafa;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px -1px 70px -9px rgba(0, 0, 0, 0.75);
    font-family: cursive, sans-serif;
    font-family: 25px;
    transition: transform .3s ease;
}

.edit-note button:hover {
    transform: rotateZ(5deg) scale(1.1);
}