.note-add-container {
    display: flex;
    justify-content: center;
}

.input-container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.input-container input {
    min-width: 420px;
    border: none;
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    font-weight: bold;
    outline: none;
    font-family: reg-roboto, sans-serif;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-inline-end: 10px;
}

.input-container span {
    color: #bbb;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    font-size: 15px;
    cursor: pointer;
}

.input-container .btn-txt.focused {
    color: #282828;
}

.input-container .btn-audio.focused {
    color: #1DB954;
}

.input-container .btn-img.focused {
    color: #93ccea;
}

.input-container .btn-video.focused {
    color: #FF0000;
}

.input-container .btn-list.focused {
    color: #fac92c
}

.confirm-list-btn {
    vertical-align: top;
    width: 100%;
    padding: .3rem;
    font-size: 22px;
    color: #454545;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #ecf0f1;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
    box-shadow: inset 0 -2px #dadedf;
    margin-block-start: 5px;
}

.confirm-list-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}