.note-preview {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    color: black;
    width: 200px;
    /* padding: 2rem; */
}

.note-preview .note-img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.control-section {
    display: flex;
    justify-content: space-between;
}

.note-preview .btns-section {
    visibility: hidden;
}

.note-preview:hover .btns-section {
    visibility: visible;
}