.palette-container {
    width: 150px;
    height: 150px;
    background: #fafafa;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    z-index: 1;
    position: absolute;
    bottom: 28px;
    right: 0;
}

.color-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    cursor: pointer;
}

.color-circle:hover {
    border: 1px solid rgb(204, 204, 204)
}