    .notes-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-gap: 5px;
        justify-items: center;
        align-items: center; */
    }