.todo-item-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}

.note-todos-container {
    display: flex;
    flex-direction: column;
}

.marked {
    text-decoration: line-through;
    color: black;
}