.note-filter-container {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-block-end: 20px;
    padding: 5px;
    background: #eeeeee50;
    box-shadow: 1px 6px 20px #00000054;
}

.note-filter {
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    position: relative;
    font-size: 1.25rem;
    box-shadow: 1px 0.5px 3px 0.5px rgba(0, 0, 0, 0.35);
    transition: all .33s;
    width: 380px;
    margin-block-start: 20px;
    margin-inline-start: 10px;
    height: 50px;
}

.note-filter select[name='noteFilter'] {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    outline: 0;
    padding: 4px;
}

select[name='noteFilter'] option {
    font-family: roboto, sans-serif;
}

.note-filter:focus-within {
    /* background-color: rgb(250, 250, 250); */
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.45);
}

.note-filter input {
    background-color: transparent;
    border: none;
    padding: 0.8rem;
    font-size: 1.25rem;
    border-radius: 5px;
    max-width: 80%;
}

.note-filter i {
    margin-inline-start: 5px;
}