.book-preview {
    background-color: rgba(168, 168, 168, 0.575);
    padding: 1rem;
    margin: 0.25rem;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.preview-img {
    max-width: 100%;
}

.book-preview-title,
.book-preview-price {
    margin: 0.5rem 0;
}

.book-action-btns {
    background-color: #eee;
    border-radius: 3px;
}

.book-edit-btn,
.book-delete-btn {
    padding: 0.8rem 1rem;
    width: 50%;
    color: rgb(78, 78, 78);
    font-family: roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    transition: all .33s;
}

.book-edit-btn {
    border-right: 1px solid grey;
}

@media (min-width:540px) {
    .book-edit-btn:hover,
    .book-delete-btn:hover {
        background-color: rgb(250, 250, 250);
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.45);
        color: rgb(114, 103, 103);
    }
    .preview-img {
        transition: all .33s;
    }
    .preview-img:hover {
        transform: rotateX(12deg);
    }
}