.email-details {
    padding: 0.5rem;
    max-width: 1060px;
    flex: 1;
}

.email-display-header {
    color: rgb(100, 100, 100);
    padding: 0.5rem;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.email-display-title {
    max-width: 50%;
}

.email-display-close-btn,
.email-display-reply-btn,
.email-display-save-btn,
.email-display-delete-btn {
    font-size: 1.25rem;
    padding: 0.5rem;
    color: rgb(60, 60, 60);
    border-radius: 50%;
    transition: all .2s;
}

.email-display-close-btn:hover,
.email-display-reply-btn:hover,
.email-display-save-btn:hover,
.email-display-delete-btn:hover {
    background-color: rgb(240, 236, 236);
}

.email-display-name,
.email-display-body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
}

.email-display-name {
    padding: 0.5rem;
}

.email-display-body {
    font-size: 1.25rem;
    padding: 1rem;
}

.muted-txt {
    margin: 0.25rem;
    color: rgb(160, 160, 160);
}