.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
    background-color: #000000;
    color: white;
    z-index: 100;
    text-align: center;
    /* transform: translateX(-100%); */
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 20px;
}

.app-header nav li {
    padding: 3rem;
    font-size: 20px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.4);
}

.app-header li a {
    color: white;
}