@media (max-width: 540px) {
    .app-header {
        min-height: 100%;
    }
    .note-filter {
        margin-block-start: 10px;
        min-width: 80%
    }
    .note-add-container {
        margin-block-end: 40px;
        margin-block-start: 40px;
    }
    .note-filter input {
        max-width: 80%;
    }
    .note-filter select[name='noteFilter'] {
        position: absolute;
        right: 14px;
        top: 14px;
        border: 0;
        border-radius: 10px;
        font-size: 18px;
        outline: 0;
    }
    .input-container {
        flex-direction: column;
        padding: 3px;
        width: 300px;
    }
    .input-container input {
        min-width: 0;
        text-align: center;
        width: 100%;
        font-size: 22px;
    }
    .confirm-list-btn {
        display: flex;
        justify-content: center;
        margin-block-end: 10px;
        width: 100%;
        padding: 0.2rem;
    }
    .grid-container {
        grid-template-columns: repeat(2, 130px);
        justify-content: center;
    }
    .user-msg {
        position: fixed;
        bottom: 5px;
        left: 5px;
        width: 250px;
        height: 50px;
    }
}


/*btns of container*/